<% content_for(:head) do %>
<%= stylesheet_link_tag "jquery.Jcrop" %>
<%= javascript_include_tag "jquery.Jcrop.min" %>
<script type="text/javascript" charset="utf-8">
$(function() {
  $('#cropbox').Jcrop()
</script>
<% end %>

<%= image_tag @user.avatar.url, :id => "cropbox"%>
<h4>Preview</h4>
<div style="width:100px; height:100px; overflow:hidden">
  <%= image_tag @user.avatar.url(:large), :id => "preview" %>
</div>
<% form_for @user do |f| %>
	<% %w[x y w h].each do |attribute| %>
    	<%= f.text_field "crop_#{attribute}" %><br/>
 	<% end %>
	<div class="actions">
    	<%= f.submit "Crop" %>
  	</div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> <br>
<%= link_to 'Back', users_path %> 